*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;
}
nav{
    /* border: 1px solid orchid; */
    /* background-color: orchid; */
    padding: 20px 10%;
    height: 15vh;
   
}
nav ul{
    display: flex;
    margin-left: 100px;
    align-items: center;
}

nav ul li{
    margin: 35px;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
}

/* MAin part */
main{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/* Lsft part  */
.leftmain{
    width: 40%;
    margin-left: 15%;
}
.leftmain h1{
    font-size: 67px;
}
.leftmain p{
    padding: 7% 0;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.leftmain button{
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-color: #3b855b;
    font-weight: 500;
}
/* Right Part  */
.rightmain{
    width: 60%;
    margin-left: 15%;
}

div.rightmain{
    display: grid ;
    column-gap: 15px;
    row-gap: 15px;
    
}
/* div.upper image#img1{
    padding: 150px;
} */

