*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: auto;
    overflow :auto;
    background-color: #444133;
}
/* Navbar */
nav{
    height: 10vh;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid hsl(31, 84%, 39%)0f;
    background-color: hsl(31, 84%, 39%);
}

nav ul{
    display: flex;
    justify-content: center;
   
}

nav ul li{
    color: aliceblue;
    list-style: none;
    font-weight: 500;
    margin-right: 50px;
}

nav ul li button{
    background-color: hwb(49 1% 84%);
    border: 1px none whitesmoke;
    border-radius: 10px ;
    color: whitesmoke;
    font-weight: 300;
    padding: 4px 10px;
}
  
/* Main Section  */
main{
    display: flex;
    height: 85vh;
    width: 100%;
    background-image: url(./Images/banner.png);
    background-repeat: no-repeat
}

h1{ 
    z-index: 1;
    color: whitesmoke;
    font-size: 50px;
    margin: 45px;
}

p{
    z-index: 1;
    color: whitesmoke;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    margin-left: 150px;
    text-align: center;
    /* word-wrap: normal; */
}